<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".history_adpater"></activity>
        <activity android:name=".History_list_adapter" />
        <activity android:name=".ViewPartcipants_list_adapter" />
        <activity android:name=".Update" />
        <activity android:name=".EventMoreDetails" />
        <activity
            android:name=".myProfile"
            android:label="My Profile" />
        <activity
            android:name=".ViewParticipants"
            android:label="Participants Details" />
        <activity
            android:name=".ViewEvents"
            android:label="View Events" />
        <activity android:name=".FinalParticipation" />
        <activity android:name=".HomePage" />
        <activity android:name=".Registration" />
        <activity android:name=".Login" />
        <activity
            android:name=".AddEvent"
            android:label="Add Events" />
        <activity android:name=".AdminHome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>